<div class="key-partners-block">
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="key-partners-content">
					<h2>{{ label }}</h2>
					{% if content.body['#items'].value is not empty %}
						<p>{{ content.body['#items'].value | striptags }}</p>
					{% endif %}
					<div class="key-partners-link">
						{% if content.field_cta['#items'].uri is not empty %}
							<a href="{{ content.field_cta['#items'].uri }}">{{ content.field_cta['#items'].title }}</a>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="community-card-wrapper">
					{{ content.field_key_partners_view }}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="key-partners-card">
	<div class="key-partners-content">
		{% if field_partner_logo is not empty %}
			{{ field_partner_logo }}
		{% endif %}
		{% if field_partner_link is not empty %}
			{{ field_partner_link }}
		{% endif %}
	</div>
</div>
