<div class="participating-cards-block">
  <div class="container">{{ content }}</div>
</div>

{# <div class="participating-card">
  <div class="participating-card-img">{{ field_community_cover }}</div>
  <div class="participating-card-content">
    <h3>{{ title }}</h3>
    <div class="participating-value-wrapper">
      <div class="participating-value-content">
        <div class="participating-label">Acres of Water</div>
        <div class="participating-value">{{ field_acres_of_water }}</div>
      </div>
      <div class="participating-value-content">
        <div class="participating-label">Miles of Shoreline</div>
        <div class="participating-value">{{ field_miles_of_shoreline }}</div>
      </div>
    </div>
    <div class="body-content">{{ body }}</div>
    <div class="participating-link">{{ view_node }}</div>
  </div>
</div> #}
