<div class="resources-listing-wrapper">
  <div class="container">{{ content }}</div>
</div>
{# <div class="row">
	<div class="col-lg-4">
		<div class="resources-listing-heading">
			{{ field_resource_type }}
		</div>
	</div>
	<div class="col-lg-8">
		<div class="resources-listing-content">
			<div class="title">{{ title }}</div>
            <div class="date-wrapper">
            <div class="date-content">{{ field_date }}</div>
			{{ field_files }}
            </div>
			
		</div>
	</div>
</div>  #}
