{# Get the URL path of the current page #}
{% set currentPath = url('<current>') %}
{% set currenPathString = currentPath['#markup'] %}

{# Split the URL path into an array of components #}
{% set currentPathLast = currenPathString|split('/') %}
{# Get the last component of the path #}
{% set lastPathComponent = currentPathLast|last %}

<div class="banner-main">
  <div class="banner">
    {# {% for item in content.field_hero_image["#items"] %}
          <div class="banner-bg-img">
          <img src="{{ file_url(item.entity.field_media_image.entity.uri.value) }}"></div>
      {% endfor %} #}
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="banner-content banner-content-left">
            {% if content.field_hero_title['#items'] %}
              <h1>{{ content.field_hero_title['#items'].getValue()[0]['value'] }}</h1>
            {% endif %}
            {% if content.field_hero_desciption['#items'] %}
              <p>{{ content.field_hero_desciption['#items'].getValue()[0]['value'] }}</p>
            {% endif %}
          </div>
        </div>
        {% if lastPathComponent == 'resources' %}
          {% if content.field_communities_filter %}
            {% set communitiesFilterItem = content.field_communities_filter[0].contents %}
            {% set viewExecutable = communitiesFilterItem['#view'] %}
            {% set rows = viewExecutable.result %}
            <div class="col-lg-5 d-none d-lg-block">
              <div class="banner-content custom-banner-content resources-content">
                <legend>Resources By Community</legend>
                <div class="resources-content-wrapper">
                  <div class="resources-content-list">
                    <a href="" 
                      id="edit-field-community-target-id-1-all-c" 
                      name="field_community_target_id_1[All]-c"
                      class="bef-link bef-link-c">
                      All</a>
                  </div>
                  {# Loop through the rows to get the values #}
                  {% for row in rows %}
                    {% set termEntity = row._entity %}
                    {% set tid = termEntity.tid.value %}
                    {% set name = termEntity.name.value %}
                    {% set nameLower = termEntity.name.value|lower %}
                    {# Now you can use 'tid' and 'name' variables in your template #}
                    <div class="resources-content-list">
                      <a 
                        href="" 
                        id="edit-field-community-target-id-1-{{ tid }}-c" 
                        name="field_community_target_id-1-c"
                        class="bef-link bef-link-c">
                          {{ name }}
                      </a>                 
                      {# <input type="radio" id="community-{{ nameLower }}-c" name="field_community_target_id-c" value="{{ tid }}" />
                      <label for="community-{{ nameLower }}-c">{{ name }}</label> #}
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endif %}
        {% endif %}
        {% if content.field_interactive_card['#items'] %}
          <div class="col-lg-5 d-none d-lg-block">
            <div class="banner-content custom-banner-content">
              <img src="/themes/custom/maam/images/banner-img.png" alt="" />

              <div class="banner-detail">
                {% if content.field_interactive_card['#items'].entity.field_date.value %}
                  <div class="date-content">{{ content.field_interactive_card['#items'].entity.field_date.value|date('F d, Y') }}</div>
                {% endif %}
                {% if content.field_interactive_card['#items'].entity.title.value %}
                  <p class="description">{{ content.field_interactive_card['#items'].entity.title.value }}</p>
                {% endif %}
                <div class="unit-activities">
                  <a href="{{ path('entity.node.canonical', { node: content.field_interactive_card['#items'].entity.id }) }}">
                    <span>Read More</span>
                    <span>
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none">
                        <mask id="mask0_127_4245" style="mask-type:alpha" maskunits="userSpaceOnUse" x="0" y="0" width="24" height="25">
                          <rect y="0.000198364" width="24" height="24" fill="#D9D9D9" />
                        </mask>
                        <g mask="url(#mask0_127_4245)">
                          <path d="M12 20.0002L10.575 18.6002L16.175 13.0002H4V11.0002H16.175L10.575 5.4002L12 4.0002L20 12.0002L12 20.0002Z" fill="#1C66A6" />
                        </g>
                      </svg>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="banner-bg">
      <img src="/themes/custom/maam/images/banner-bg.png" />
    </div>
  </div>
  {% if lastPathComponent == 'resources' %}
    {% if content.field_communities_filter %}
      {% set communitiesFilterItem = content.field_communities_filter[0].contents %}
      {% set viewExecutable = communitiesFilterItem['#view'] %}
      {% set rows = viewExecutable.result %}
      <div class="container py-4 py-lg-0">
        <div class="col-lg-5 d-block d-lg-none">
          <div class="banner-content custom-banner-content resources-content">
            <legend>Resources By Community</legend>
            <div class="resources-content-wrapper">
              <div class="resources-content-list">
                <a href="" 
                id="edit-field-community-target-id-1-all-c" 
                name="field_community_target_id_1[All]-c"
                class="bef-link bef-link-c">
                All</a>

                {# <input type="radio" id="community-all-c" name="field_community_target_id-c" value="all" checked="checked" />
                <label for="community-all-c">- Any -</label> #}
              </div>
              {# Loop through the rows to get the values #}
              {% for row in rows %}
                {% set termEntity = row._entity %}
                {% set tid = termEntity.tid.value %}
                {% set name = termEntity.name.value %}
                {% set nameLower = termEntity.name.value|lower %}
                {# Now you can use 'tid' and 'name' variables in your template #}
                <div class="resources-content-list">
                 <a 
                        href="" 
                        id="edit-field-community-target-id-1-{{ tid }}-c" 
                        name="field_community_target_id-1-c"
                        class="bef-link bef-link-c">
                          {{ name }}
                      </a>   
                  {# <input type="radio" id="community-{{ nameLower }}-c" name="field_community_target_id-c" value="{{ tid }}" />
                  <label for="community-{{ nameLower }}-c">{{ name }}</label> #}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}
  {% if content.field_interactive_card['#items'] %}
    <div class="container py-4 py-lg-0">
      <div class="col-lg-5 d-block d-lg-none">
        <div class="banner-content custom-banner-content">
          <img src="/themes/custom/maam/images/banner-img.png" alt="" />

          <div class="banner-detail">
            {% if content.field_interactive_card['#items'].entity.field_date.value %}
              <div class="date-content">{{ content.field_interactive_card['#items'].entity.field_date.value|date('F d, Y') }}</div>
            {% endif %}
            {% if content.field_interactive_card['#items'].entity.title.value %}
              <p class="description">{{ content.field_interactive_card['#items'].entity.title.value }}</p>
            {% endif %}
            <div class="unit-activities">
              <a href="{{ path('entity.node.canonical', { node: content.field_interactive_card['#items'].entity.id }) }}">
                <span>Read More</span>
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none">
                    <mask id="mask0_127_4245" style="mask-type:alpha" maskunits="userSpaceOnUse" x="0" y="0" width="24" height="25">
                      <rect y="0.000198364" width="24" height="24" fill="#D9D9D9" />
                    </mask>
                    <g mask="url(#mask0_127_4245)">
                      <path d="M12 20.0002L10.575 18.6002L16.175 13.0002H4V11.0002H16.175L10.575 5.4002L12 4.0002L20 12.0002L12 20.0002Z" fill="#1C66A6" />
                    </g>
                  </svg>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>
<script>
// Get all anchor tags with the class "bef-link-c"
const anchorTags = document.querySelectorAll('.bef-link-c');
// Add click event listener to each anchor tag
anchorTags.forEach((anchorTag) => {
  anchorTag.addEventListener('click', (event) => {
    // Prevent the default behavior of the anchor tag
    event.preventDefault();
    // Get the value of the selected anchor tag
    const selectedValue = anchorTag.id.split('-').slice(-2, -1)[0]; // Extract the second last part of the ID
    // Find the corresponding anchor tag in the target fieldset and trigger a click event
    const targetAnchorTag = document.getElementById(`edit-field-community-target-id-1-${selectedValue}`);
    if (targetAnchorTag) {
      targetAnchorTag.click();
    }
  });
});

</script>
